html{
    font-family: "Verdana";
}
body{
    text-align: center;
}

h1{
    text-align: center;
}

.login{
    display: inline-block;
}

input{
    margin-top: 15px;
    padding: 8px 12px;
    border-radius: 4px;
    border-style: solid;
    border-color: #ccc;
}

.forgotp{
    text-align: left;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 12px;
}

.signup{
    font-size: 12px;
    float: right;
    margin-right: 25px;
}

.log{
    background-color: forestgreen;
    color: white;
    border-color: forestgreen;
    float: left;
    padding: 8px 20px;
    margin-top: 0;
}


.sig.log{
    margin-top: 20px;
    float: none;
}
